
h1{
    background: tomato;
}





div{
    margin: auto;
    background: skyblue;
    width: 90rem;
    height: 30rem;
}
ul a{
    display: block;
    margin: 3rem;

    width: 8rem;
    height: 10rem;

    border-radius: 5%;

    float: left;

    background: yellowgreen;

}